@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Poppins&family=Roboto&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

section.section1{
  background-color: #202020;
}

nav.nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

li.nav-buttons{
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  transition: .5s ease;
  line-height: 1.9;
  padding-right: 2vw;
}

li.nav-logo{
  padding-right: 15vw;
}

li.nav-buttons, li.nav-logo, li.cart, li.user, li.drop-down{
  list-style: none;
}

ul.user-links{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15vw;
}

li.cart{
  font-size: 36px;
  color: #ffffff;
  padding-right: 15px;
}

li.user{
  font-size: 36px;
  color: #ffffff;
}

li.drop-down{
  color: #ffffff;
}

article.hero{
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 200px;
  padding-bottom: 100px;
}

h1.title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 76px;
  line-height: 72px;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: "Grand Hotel", cursive;
  transition: none 0s ease 0s;
  text-align: center;
  margin-bottom: 50px;
  border-width: 0px;
  white-space: normal;
  max-width: 399px;
  color: #ffffff;
  transform-origin: 50% 50% 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

h1.title2{
    color: #ffffff;
    font-family: 'Grand Hotel', cursive;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
}

p.subtitle1{
  font-size: 15px;
  line-height: 60px;
  font-weight: 300;
  color: rgb(255, 255, 255,0.7);
  letter-spacing: 0px;
  font-family: Roboto, sans-serif;
  transition: none 0s ease 0s;
  text-align: center;
  margin-bottom: 20px;
  border-width: 0px;
  transform-origin: 50% 50% 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

p.subtitle2{
  min-width: 497px;
  max-width: 497px;
  white-space: normal;
  font-size: 13px;
  line-height: 26px;
  font-weight: 300;
  color: rgb(255, 255, 255,0.7);
  letter-spacing: 0px;
  font-family: Roboto, sans-serif;
  transition: none 0s ease 0s;
  text-align: center;
  margin: auto;
  border-width: 0px;
  transform-origin: 50% 50% 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

p.subtitle3{
  background: linear-gradient(to right,#fc2547 50%, #ff5a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 30px;
}

img.hamburger, img.food, img.leaves, img.pizza{
  position: absolute;
}

img.hamburger{
  left: 0px;
  bottom: 0px;
}

img.leaves{
  right: 30vw;
}

img.food{
  left: 20vw;
}

img.pizza{
  right: -200px;
}

form.search-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  column-gap: 1vw;
  background-color: #2d2d2d;
  border-radius: 50rem;
  padding: 10px;
  width: 45%;
  height: 50px;
}

span.location{
  font-size: 26px;
  color: #595959;
}

input.search{
  color: #595959;
  font-size: 16px;
  background-color: inherit;
  outline: none;
  width: 75%;
  height: 50px;
  border: none;
}

input.search::placeholder{
  color: #595959;
  font-size: 16px;
}

button.searchButton{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #fc2547;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 35px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  /* letter-spacing: 0.1em; */
  text-align: center;
  transition: .8s ease;
  text-decoration: none;
  background-image: linear-gradient(to right,#fc2547 0%, #ff5a00 50%, #fc2547 100%);
  background-size: 200% auto;
  border-radius: 50rem;
  width: 45%;
  height: 50px;
}

button:hover{
  background-position: right center;
  cursor: pointer;
}

section.section2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191919;
  padding: 7%;
  column-gap: 20%;
}

article.foodDescription{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
}

article.foodIcons{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 45%;
}

span.foodIcon{
  background: linear-gradient(to right,#fc2547 50%, #ff5a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  margin-bottom: 10px;
  transition: .5s ease;
}

h1.section2Nos{
  color: #ffffffc0;
  margin-bottom: 5px;
  font-weight: 400;
}

p.section2Text{
  color: #ffffff;
}